body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0%;
	padding: 0%;
	height: 100%;
}

nav > ul {
	margin: 0%;
	padding: 0%;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li.nav-right {
	float: right !important;
}

nav li {
	list-style-type: none;
}

.niveau1 {
	display: none;
}

nav {
	width: 100%;
	height: 60px;;
	background-color: #424558;
	margin-bottom: 2%;
}

nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

nav a {
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a {
	padding: 20px 30px;
	color: white;
}

.niveau1 {
	display: none;
}

nav li:hover .niveau1 {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.niveau1 li {
	border-bottom: 1px solid #CCC;
}

.niveau1 li a {
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

nav li:hover .niveau1 a:hover {
	background-color: #86899c;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #424558;
	color: white;
	text-align: center;
 }

 .form_login_usr {
	 margin: 0 auto;
	 width: 50%;
	 height: 30%;
 }

 .form_login_usr input[type=text] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	display: inline-block;
	border-left-style: solid;
	background-color: lightgrey;
	border-left-width: 5px;
	border-radius: 4px;
	box-sizing: border-box;
 }
 .form_login_usr input[type=password] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 5px;
	border-radius: 4px;
	background-color: lightgrey;
	box-sizing: border-box;
 }

 .form_login_usr input[type=submit]
 {
	background-color:lightgrey;
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	font-size: 100%;
 }

 .form_login_usr label {
	 font-size: 130%;
	 margin: 20% 5% 5%;
 }

 .form_login_usr a {
	padding: 1% 7%;
	margin: 1.5% 9% 9%;
	display: inline-block;
	font-size: 100%;
 }

 #log-hidden-usr {
	display: none;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
	color: red;
	width: 90%;
	border-radius: 3px;
	font-size: 150%;
}

 .form_register_usr {
	margin: 0 auto;
	width: 90%;
	height: 60%;
 }

 .form_register_usr input[type=text] {
	width: 90%;
	background-color: lightgrey;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
	border-left-style: solid;
	border-left-width: 5px;
 }
 .form_register_usr input[type=email] {
	width: 90%;
	background-color: lightgray;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
	border-left-style: solid;
	border-left-width: 5px;
 }

 .form_register_usr select {
	margin: .5% 5% 1%;
	background-color: lightgray;
	width: 90%;
	height: 6%;
	border-radius: 10px;
	font-size: 100%;
 }
 .form_register_usr input[type=password] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: lightgray;
	border-left-style: solid;
	border-left-width: 5px;
 }
 .form_register_usr input[type=radio] {
	margin-left: 5%;
 }

 .form_register_usr label {
	font-size: 130%;
	margin: 15% 5% 2%;
}

.form_register_usr input[type=submit]
 {
	background-color: lightgrey;
	width: 20%;
	height: 25%;
	border-radius: 16px;
	margin-top: 2%;
	margin-left: 40%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
 }

#reg-pattern {
	font-size: 90%;
}

#register-div {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
	font-size: 150%;
	text-align: center;
}

#reg-hidden-usr {
	display: none;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
}
#reg-hidden-mail {
	display: none;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
}
#reg-hidden-pwd {
	display: none;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
}
#reg-hidden-answer {
	display: none;
	margin-left: 5%;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
}
 
.form_forgotten_usr {
	 margin: 0 auto;
	 width: 70%;
}
	
.form_forgotten_usr label {
	font-size: 130%;
	margin: 15% 5% 5%;
}
	
.form_forgotten_usr input[type=submit]
{
	background-color: lightgrey;
	width: 30%;
	height: 25%;
	border-radius: 16px;
	margin-top: 2%;
	margin-left: 35%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
}

.form_forgotten_usr select {
	margin: .5% 5% 1%;
	width: 94%;
	height: 6%;
	border-radius: 10px;
	font-size: 100%;
}
.form_forgotten_usr input[type=password] {
	width: 90%;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: lightgrey;
}

.form_forgotten_usr input[type=text] {
	width: 90%;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: lightgrey;
}

#forgotten-div {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
	font-size: 150%;
	text-align: center;
}

.form_nw_pwd {
	margin: 0 auto;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.form_nw_pwd input[type=password] {
	width: 90%;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: lightgrey;
}

.form_nw_pwd label {
	font-size: 130%;
	margin: 15% 5% 5%;
}

.form_nw_pwd input[type=submit]
{
	background-color: lightgrey;
	width: 33%;
	height: 6%;
	margin-top: 2%;
	margin-left: 32%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
}

#reset-div {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
	font-size: 150%;
	text-align: center;
}

.reset-pwd {
	text-align: center;
	margin-top: 3%;
}

#lab-reset-pwd {
	font-size: 90%;
 }

#sourcevid {
	width: 120%;
}
.sourcevid {
   margin-left: 15%;
   width: 35%;
}

.gallery-cam-div {
	float: right;
	margin-right: 3%;
	position: relative;
	overflow: scroll;
	max-height: 550px;
	min-height: 550px;
	width: 30%;
	border: #222538;
	border-style: groove;
}

.calque-div {
	margin-left: 15%;
	margin-bottom: 1%;
	width: 80%;
	overflow: auto;
	white-space: nowrap;
/* 	border: #222538;
	border-style: groove;
 */	height: 15%;
	overflow: scroll;
}

.calque-div img {
	width: 6%;
	margin-left: 3%;
}

.gallery-cam-div img {
	margin-left: 5%;
	margin-top: 5%;
	width: 90%;
}

#cam-btn {
	width: 42%;
	margin-left: 15%;
	margin-bottom: 6%;
	background-color: aliceblue;
	font-size: 120%;
}

#vid-img {
	position: absolute;
	width: 10%;
}

#cvs {
	display: none;
}

#groupe {
	border: none;
}

#del-div {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	color: red;
	width: 90%;
	border-radius: 3px;
	font-size: 150%;
	text-align: center;
}

.form_delete_usr {
	margin: 0 auto;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.form_delete_usr input[type=password] {
	width: 90%;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border-left-style: solid;
	border-left-width: 5px;
	background-color: lightgrey;
}

.form_delete_usr label {
	font-size: 130%;
	margin: 15% 5% 5%;
}

.form_delete_usr input[type=submit]
{
	background-color: lightgrey;
	width: 33%;
	height: 6%;
	margin-top: 2%;
	margin-left: 32%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
}

