body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0%;
	padding: 0%;
	height: 100%;
}

nav > ul {
	margin: 0%;
	padding: 0%;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li.nav-right {
	float: right !important;
}

nav li {
	list-style-type: none;
}

.niveau1 {
	display: none;
}

nav {
	width: 100%;
	height: 60px;;
	background-color: #424558;
	margin-bottom: 2%;
}

nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

nav a {
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a {
	padding: 20px 30px;
	color: white;
}

.niveau1 {
	display: none;
}

nav li:hover .niveau1 {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

.niveau1 li {
	border-bottom: 1px solid #CCC;
}

.niveau1 li a {
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

nav li:hover .niveau1 a:hover {
	background-color: #86899c;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #424558;
	color: white;
	text-align: center;
 }

 .form_login_usr {
	 border-color: #86899c;
	 border-style: groove;
	 background-color: lightgray;
	 margin: 0 auto;
	 width: 50vw;
	 height: 30vw;
	 border-radius: 15px;
 }

 .form_login_usr input[type=text] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }
 .form_login_usr input[type=password] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }

 .form_login_usr input[type=submit]
 {
	background-color: #86899c;
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 5% 5%;
	font-size: 120%;
 }

 .form_login_usr label {
	 font-size: 130%;
	 margin: 20% 5% 5%;
 }

 .form_login_usr input[type=button] {
	background-color: #86899c;
	width: 30%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 1.5% 9% 9%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }

 .form_register_usr {
	border-color: #86899c;
	border-style: groove;
	background-color: lightgray;
	margin: 0 auto;
	width: 90%;
	height: 60%;
	border-radius: 15px;
 }

 .form_register_usr input[type=text] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }
 .form_register_usr input[type=email] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }

 .form_register_usr select {
	margin: .5% 5% 1%;
	width: 90%;
	height: 6%;
	border-radius: 10px;
	font-size: 100%;
 }
 .form_register_usr input[type=password] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }
 .form_register_usr input[type=radio] {
	margin-left: 5%;
 }

 .form_register_usr label {
	font-size: 130%;
	margin: 15% 5% 2%;
}

.form_register_usr input[type=submit]
 {
	background-color: #86899c;
	width: 20%;
	height: 25%;
	border-radius: 16px;
	margin-top: 2%;
	margin-left: 40%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
	font-weight: bolder;
 }

 #sourcevid {
	 width: 35%;
 }
.sourcevid {
	margin: 0 auto;
}

.form_forgotten_usr {
	border-color: #86899c;
	border-style: groove;
	background-color: lightgray;
	margin: 0 auto;
	width: 70%;
	border-radius: 15px;
 }

 .form_forgotten_usr label {
	font-size: 130%;
	margin: 15% 5% 5%;
}

.form_forgotten_usr input[type=submit]
 {
	background-color: #86899c;
	width: 30%;
	height: 25%;
	border-radius: 16px;
	margin-top: 2%;
	margin-left: 35%;
	margin-bottom: 1%;
	box-sizing: border-box;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	font-size: 1.5vw;
	font-weight: bolder;
 }

 .form_forgotten_usr select {
	margin: .5% 5% 1%;
	width: 90%;
	height: 6%;
	border-radius: 10px;
	font-size: 100%;
 }
 .form_forgotten_usr input[type=password] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }

 .form_forgotten_usr input[type=text] {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: .5% 5% 1%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
 }

 .form_nw_pwd {
	border-color: #86899c;
	border-style: groove;
	background-color: lightgray;
	margin: 0 auto;
	width: 50%;
	border-radius: 15px;
 }